

<div id = "photos_map" class = "enable_map">
<% if flash.any? %>
  <div class="alert alert-success" role="alert">
    <a href="#" class="alert-link"><%= flash[:notice] %></a>
  </div>
<% end %>

<div id="photoBar" class='map_tool photo_bar disable_map'>
  <div id="photoBarTabs">
    <ul>
      <li class="active photoBarTab"><div id="photoLibraryTab">
        <div id='mapped_photos_container' class='photo_collection disable_map panel panel-default'>
        </div>
        <div id='unmapped_photos_container' class='photo_collection disable_map panel panel-default'></div>
      </li>

      <li class="photoBarTab" style="display: none;"><div id="mapLibraryTab">
        <ul id="my_maps_container">
          <li><div id="createNewMap" class="myMapBox" style="background:gray;">Create New</div></li>
        </ul>
      </div></li>

      <li class="photoBarTab" style="display: none;"><div id="mapToolsTab">
        <ul>
          <li>
          <div id "uploadPhotos" class='disable_map panel panel-default'>
            <div class="panel-heading">
              <h3 class="panel-title"> Upload Files </h3>
            </div>

            <div class="input-group">
              <input type="file" id="photosToMap" id="uploadPhotosInput"  name="photos[]" multiple/>
              <span class="input-group-btn">
                <button id="MapNewPhotos" class="btn btn-default" type="button">Map!</button>
              </span>
            </div>
          </div>
         </li>
        </ul>
      </div></li>
    </ul>
  </div>
  <div id="tabs">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a class="photoLibraryTab" href ="#" >Photo Library</a></li>
        <li ><a class="mapLibraryTab" href ="#" >Maps Library</a></li>
        <li ><a class="mapToolsTab" href ="#" >Map Tools</a></li>
      </ul>
  </div>
</div>

</div>


<div id="selectedPhotosContainer" class="container-fluid col-xs-5 disable_map"></div>

<%= javascript_tag do %>
  $( document ).ready( loadPhotosView() )
<% end %>




