
<div id = "my_map" class = "enable_map">

  <div class='map_tool photo_container '>
    <div id='mapped_photos_container' class='photo_group disable_map'>Mapped</div>
    <div id='unmapped_photos_container' class='photo_group disable_map'>Unmapped</div>
    <div id='unmapped_photos_container' class='photo_group disable_map'>
      <%= simple_form_for @new_photo do |f| %>
      <%= f.input :image, type: :file, :input_html => { :multiple => true }, label: false %>
      <%= f.button :submit, 'Map them!' %>
      <% end %>
    </div>
  </div>

  <div class="map_tool" id="showUnplaced" class="ui-widget-content"> See Unplaced Photos </div>
</div>



