/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require mapbox
 *= require bootstrap
 *= require_tree .
 *= require_self

 */

input {
  color: white;
  font-size: 14pt;
  background: transparent;
  border:none;
}

input:active {
  color: white;
  background: none;
  border:none;
}

ul {
  margin: .5em;
  padding: 0;
  list-style-type:none;
  z-index: 2;
}

li {
  list-style: none;
  z-index: 2;
  white-space: normal;
  margin-bottom: .25em;
}

label {
  color: orange;
}


.navbar {
  margin: 0;
  position: relative;
  z-index: 100;
}

.alert {
  margin: 0;
}

.leaflet-container {
  margin: 0;
  line-height: none;
  font-size: none;
}

.leaflet-container label{
  font-size: 11pt;
}

.side_bar{
  color: black;
  width: 24%;
  position: relative;
  display: block;
  float: right;
  z-index: 2;
  padding: 1em;
}

#tabs {
  float: left;
  width: 15%;
  display: inline-block;
  background: rgba(255,255,255,.7);
  border-radius: 10px;
  padding: .5em;
  margin: .5em;
}

#photoBarTabs {
  width: 80%;
  display: inline-block;
}

.photoBarTab > div >  ul {
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}


.input-group {
  width: 300px;
}

.photoBarTab > div > ul > li {
  display: inline-block;
}

.myMapBox {
  color: black;
  font-size: 18pt;
  text-shadow: 1px 1px 1px rgb(255,255,255);
  font-family: 'Oswald', sans-serif, bold;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  height: 150px;
  width: 150px;
  margin: .5em;
  background: gray;
  background-size:contain;
  padding: .5em;
  border: 2px solid black;

}

#createNewMap {
  color: white;
  text-shadow: 1px 1px 1px rgb(0,0,0);
  border: 2px dashed black;
}

#uploadLandingPad {
  width:400px;
}

.photo_bar {
  width: 100%;
  background-color: rgba(220,220,220,.7);
  border-radius: 3px;
  z-index: 2;
}

.photo_bar:hover {
  background-color: rgba(220,220,220,.8);
}

.photo_collection {
  max-width: 48%;
  margin: .75%;
  background-color: rgba(255,255,255,.7);
  display: inline-block;
  text-align: left;
}

.photoList {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.photoList > li {
  display: inline-block;
}

.photoList > li > img {
  height: 100px;
  margin: .5em;
}


.map_tool {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.selection_window {
  z-index: 3;
  width:100px;
  height:100px;
  background:red;
}

#my_c_map_content_container {
  margin: 1% 1% 0 0 ;
  height: 98%;
  width: 40%;
  color: white;
  position: relative;
  background-color: rgba(0,0,0,.7);
  border-radius: 15px;
  z-index: 2;
  float: right;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#my_c_map_content_container > ul > li > h1 {
  color:white;
  font-weight:bold;
}

#my_c_map_content_container > ul > li {
  display: block;
}

.c_map_content > img {
  border-radius: 10px;
}

#photos_map {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  text-align: left;
  display: inline-block;
}

#my_map {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  text-align: left;
  display: inline-block;
}

#main_map {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  text-align: left;
  display: inline-block;
}
