#selectedPhotosContainer {
  position: relative;
  color: gray;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  border-radius: 15px;
  z-index: 2;
}

.selectionImage {
  width: 100%;
  border-radius: 5px;
  -moz-box-shadow:    0px 0px 5px 6px rgba(255,255,255,.1);
  -webkit-box-shadow: 0px 0px 5px 6px rgba(255,255,255,.1);
  box-shadow:         0px 0px 5px 6px rgba(255,255,255,.1);

}

.selectionPageCount {
  color: orange;
  float: right;
}

.selectionDetailTitle{
  display: inline-block;
  color: orange;
  font-size: 11pt;
  font-weight: bold;
  margin: 0 .5em 0 0;
}

.selectionDetailAttribute {
  display: inline-block;
  font-size: 11pt;
  font-family: 'Oswald', sans-serif;
  color: white
}

.selectionDetail {
  text-align: left;
  max-width: 100%;
}

.selectionDetail > ul > li {
  display: inline-block;
}

.selectionDetailHeader > span {
  font-size: 18pt;
}

.selectionDetailHeader {
  font-size: 18pt;
  color: white;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: .5em;
}

#addSelectionToMapDropdown {
  font-size: 20pt;
}


.photo_detail {
  color: white;
}

.SelectionTag {
  margin:5px
}

.PersonTag {
  background-color: #549431;
}

.ActivityTag {
  background-color: #EB4E00;
}

.TagTag {
  background-color: #FF9966;
}


 #addSelectionToMapButton{
   margin: 0 .5em;
   color: white;
   background: rgba(50,50,50,.4);
   border: 1px solid white;
   border-radius: 10px;
 }

 #addSelectionToMapButton:hover{
   color: white;
   background: rgba(50,50,50,.1);
   border-radius: 1px solid white;
 }


.pager > li {
  color: black;
  margin: 1em;
  float: right;
  background: rgba(50,50,50,.4);
}

.pager > li > a {
  background: rgba(50,50,50,.4);
  color: white;
}

.pager > li:hover {
  background: rgba(50,50,50,1);
}

.pager > li > a:hover {
  background: rgba(50,50,50,1);
    color: white;
}

i {
  margin: 1em;
}
