#selectedPhotosContainer {
  position: relative;
  color: gray;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  border-radius: 15px;
  z-index: 2;
}

.selectionImage {
  width: 100%;
  border-radius: 5px;
  -moz-box-shadow:    0px 0px 5px 6px rgba(255,255,255,.1);
  -webkit-box-shadow: 0px 0px 5px 6px rgba(255,255,255,.1);
  box-shadow:         0px 0px 5px 6px rgba(255,255,255,.1);

}


.selectionPageCount {
  color: orange;
  float: right;
}

.selectionDetail {
  text-align: left;

}

.selectionDetailTitle{
  color: orange;
  font-size: 11pt;
  font-weight: bold;
  margin: 0 .5em 0 0;
}

.selectionDetailAttribute {
  font-size: 11pt;
  font-family: 'Oswald', sans-serif;
  color: white
}


.selectionDetailHeader > span {
  font-size: 18pt;
  color: white;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin: .5em;
}

.photo_detail {
  color: white;
}

.SelectionTag {
  margin:5px
}

.PersonTag {
  background-color: #549431;
}

.ActivityTag {
  background-color: #EB4E00;
}

.TagTag {
  background-color: #FF9966;
}

.pager > li {
  margin: 1em;
  float: right;
}

